/* 🔥ボタン */
.button {
    width: 120px;
    height: 40px;
    color: #172030;
    font-weight: bold;
    background-color: ghostwhite;
    border-color: #00b57b;
    border-bottom: 5px solid #00b57b;
}
.button:hover {
    margin-top: 3px;
    border-bottom: 2px solid #00b57b;
}
.button--radius {
    border-radius: 100vh;
}
