/* 👇ページヘッダー */
.input-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    clear: both;
    background: linear-gradient(to right, #ffbb29, transparent);
}
.result-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    clear: both;
    background: linear-gradient(to right, #68d1e3, transparent);
}
#KY-img {
    width: 30px;
    height: 30px;
    margin: 13px;
}
#basic-img {
    width: 320px;
    height: 400px;
    margin: 15px;
}
h1 {
    display: flex;
    font-size: large;
    font-weight: bold;
    white-space: nowrap;
    width: 150px;
    color: #545454;
}

/* 👇ボタン */
.button-container {
    display: flex;
    flex-wrap: nowrap;
    width: 900px;
}
input[type="button"] {
    color: #ffffff;
    border-radius: 10px;
    border: #aaa;
    height: 35px;
    margin-left: 10%;
    line-height: 0px;
    padding: 20px 20px;
}
#save_btn {
    background-color: #f29727;
    margin-left: 60%;
}
#save_btn:hover {
    background-color: #bf771e;
}
#return_btn {
    background-color: #50a2b0;
}
#return_btn:hover {
    background-color: #38737d;
}
#allClear_btn {
    background-color: #cc4e4c;
}
#allClear_btn:hover {
    background-color: #993a39;
}

/* 👇カードスタイル */
.card-wrapper-large {
    margin: 18px;
    width: 900px;
}
.card-radius-large {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 10px;
}
.input-title {
    font-weight: bold;
    font-size: large;
    color: #e58e24;
    text-align: left;
    margin: 10px;
    margin-left: 20px;
    background: transparent;
    border-left: solid 5px #f3aa60;
    padding: 0.5px 10px;
}
.result-title {
    font-weight: bold;
    font-size: large;
    color: #38737d;
    text-align: left;
    margin: 10px;
    margin-left: 20px;
    background: transparent;
    border-left: solid 5px #4996a3;
    padding: 0.5px 10px;
}
.all-container {
    display: flex;
}

/* 👇テーブル */
table {
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    margin: 20px;
    color: #5d5d5d;
}
textarea {
    margin: 10px;
    padding: 10px;
    border: 2px solid #999999;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    resize: none;
}
textarea:invalid {
    background: #ffd3d3;
    border: 2px solid #ff7d63;
}
textarea:focus {
    border: 3.5px solid #ffba28;
    outline: 0;
}
td {
    font-weight: bold;
}
.tableClass1 .textarea1 {
    width: 640px;
    height: 60px;
    font-weight: bold;
    border-radius: 6px;
}
.tableClass1 .textarea2 {
    width: 275px;
    height: 30px;
    font-weight: bold;
    border-radius: 6px;
}
.tableClass2 .textarea1 {
    width: 640px;
    height: 60px;
    font-weight: bold;
    pointer-events: none;
    background-color: #f2f2f2;
    border: none;
    border-radius: 6px;
}
.tableClass2 .textarea2 {
    width: 275px;
    height: 30px;
    font-weight: bold;
    pointer-events: none;
    background-color: #f2f2f2;
    border: none;
    border-radius: 6px;
}
